<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email App</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="m-0 h-screen font-sans flex">
    <div class="flex flex-col flex-1">
      <!-- HEADER -->
      <div
        class="bg-white px-5 py-2 border-b border-gray-300 flex items-center justify-between"
      >
        <h2 class="text-xl">Email App</h2>
        <input
          type="text"
          placeholder="Search Mail..."
          class="w-72 px-3 py-1.5 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-400"
        />
      </div>

      <div class="p-5 bg-gray-100 overflow-y-auto flex-1">
        <!-- LIST EMAIL -->
        {% for email in emails %}
          <div
            class="bg-white border border-gray-300 p-3 mb-3 rounded-md flex justify-between"
          >
            <div class="max-w-[70%]">
              <div class="font-bold">{{ email.title }}</div>
              <div class="text-gray-800">{{ email.description }}</div>
            </div>
            <div class="text-sm text-gray-500">{{ email.time }}</div>
          </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
