<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email App</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="m-0 h-screen font-sans flex">
    <div class="flex flex-col flex-1">
      <!-- HEADER -->
      <div
        class="bg-white px-5 py-2 border-b border-gray-300 flex items-center justify-between"
      >
        <h2 class="text-xl">Email App</h2>

        <!-- Search input and button -->
        <div class="flex items-center space-x-2">
          <input
            id="searchInput"
            type="text"
            placeholder="Search Mail..."
            class="w-72 px-3 py-1.5 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-400"
          />
          <button
            id="btnSearch"
            class="px-4 py-1.5 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition"
          >
            Search
          </button>
        </div>
      </div>

      <div class="p-5 bg-gray-100 overflow-y-auto flex-1">
        <!-- LIST EMAIL -->
        {% for email in emails %}
        <div
          class="bg-white border border-gray-300 p-3 mb-3 rounded-md flex justify-between items-start"
        >
          <a href="{% url 'detail_email' email.id %}" class="max-w-[70%] block">
            <div class="font-bold">{{ email.title }}</div>
            <div class="text-gray-800">{{ email.description }}</div>
            <div class="text-gray-800">
              {% if email.status %}
              <div>Đã xem</div>
              {% else %}
              <div>Chưa xem</div>
              {% endif %}
            </div>
            <div class="text-sm text-gray-500">{{ email.time }}</div>
          </a>
          <form method="post" action="{% url 'delete_email' email.id %}">
            {% csrf_token %}
            <button
              type="submit"
              class="text-red-600 border border-red-600 px-3 py-1 rounded-md hover:bg-red-600 hover:text-white text-sm"
              onclick="return confirm('Do you want to remove email')"
            >
              Delete
            </button>
          </form>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>

<!-- https://tailwindcss.com/plus/ui-blocks/application-ui/navigation/pagination -->

<script>
  document.getElementById("btnSearch").addEventListener("click", () => {
    const query = document.getElementById("searchInput").value;
    window.location.href = `/?q=${query}`;
  });
</script>
